:root {
  --body-bg-color: var(--gray-0);
  --body-line-height: 1.5;
  --button-font-size: var(--fonts-4);
  --component-padding: 1rem;
  --button-font-weight: var(--font-weight-bold);
  --button-border-width: 0.125rem;
  --code-font-size: var(--fonts-4);
  --link-color: var(--indigo);
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.25;
}

code {
  line-height: 1.5rem;
}

